*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-wrapper {
    background-color: rgb(55, 8, 129);
    border-radius: 12px;
    min-width: 250px;
}
.info-wrapper{
    padding: 4px;
    color: white;
    p{
        color: rgb(30, 181, 201);
    }
}
main{
    background-color: rgb(239, 203, 248);
    min-height: 100vh;
}
